<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2adf1b62-0dd5-47ba-9352-8d698895d83b/resourceGroups/IoTStuff/providers/Microsoft.Web/sites/greenhouseAPI</ResourceId>
    <ResourceGroup>IoTStuff</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://greenhouseapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>greenhouseapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>greenhouseAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$greenhouseAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GhAPIAzureContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:quickbird.database.windows.net,1433;Initial Catalog=GreenhouseAPiDB;User ID=quickbird@quickbird;Password=77D56j97d85f5" />
          <Object Type="DbDacFx">
            <PreSource Path="REMOVED" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GhAPIAzureContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="REMOVED" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GhAPIAzure.Models.DataContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GhAPIAzure.Models.DataContext, GhAPIAzure" MigrationConfiguration="GhAPIAzure.Migrations.Configuration, GhAPIAzure" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GhAPIAzure.Models.DataContext-Web.config Connection String" />
    <MSDeployParameterValue Include="GhAPIAzureContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:quickbird.database.windows.net,1433;Initial Catalog=GreenhouseAPiDB;User ID=quickbird@quickbird;Password=77D56j97d85f5</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="GhAPIAzure.Models.DataContext" />
  </ItemGroup>
</Project>